.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img-background{
    background-image: url("../../assets/images/projects.jpg");
    background-size: cover;
    width:60vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.title-section{
    width:40vw;
    background-color: #2D364C ;
    height: 100vh;
    padding:2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-text{
    color:#fff;
    font:Gotham Titles;
    margin:20px;
}
